[Unit]
Description=An open-source machine learning server
After=network.target

[Service]
User=predictionio
Group=predictionio
# Environment=SPARK_LOG_DIR=/var/lib/predictionio/logs
# PIDFile=/var/lib/predictionio/spark-daemon.pid
# ExecStart=/usr/share/predictionio/bin/pio eventserver
# ExecStop=/usr/share/predictionio/sbin/stop-all.sh

[Install]
WantedBy=multi-user.target
