[Unit]
Description=An open-source machine learning server
After=network.target

[Service]
User=predictionio
Group=predictionio
WorkingDirectory=/var/lib/predictionio
ExecStart=/usr/share/predictionio/bin/pio eventserver

[Install]
WantedBy=multi-user.target
